body {
  margin: 0;
  font-family: 'Baloo Tamma 2', cursive;
  font-weight: 4rem; }

nav {
  background-color: #5F6366;
  width: 100vw;
  overflow: hidden; }
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none; }
  nav li {
    float: left; }
  nav li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: whitesmoke; }

.flex-container {
  display: flex;
  justify-content: center;
  height: 3em;
  padding-top: 1em; }

h1 {
  border: 3px solid red;
  text-align: center; }

.search {
  width: 50%; }

.img-container {
  display: flex;
  flex-flow: row wrap; }

div img {
  width: 25%;
  padding: 2em;
  margin: 1em; }
