//mixins

@mixin bodyFont {
    font-family: 'Baloo Tamma 2', cursive;
    font-weight: 4rem;
}

    $grey: #5F6366;

    $navyBlue: #4D6D9A;

    $purple: #86B3D1;

   $lightBlue: #99CED3; 

    $pink: #EDB5BF;



//Page Styling


body {
    margin: 0;
    @include bodyFont();
    background-color: $lightBlue;
    
}

nav {
    background-color: $grey;
    width: 100vw; 
    overflow: hidden; 
    line-height: 0em;   
    padding-top: 1em;

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    li {
        float: right;
    }

    li a {
        display: block;
        text-align: right;
        padding: 14px 16px;
        text-decoration: none;
        color: whitesmoke;
    }
}

.flex-container {
    display: flex;
    justify-content: center;
    height: 3em;
    padding-top: 1em;
    
}

  h1 {
    
    text-align: left;
    display: flex;
    margin-left: 40px;
    font-size: 2rem;
    color: $pink;
    
}

.search {
    width: 50%;
    
}

.img-container {
    display: flex; 
    flex-flow: row wrap;
    
   
}

div img {
    width: 25%;
    padding: 2em;
    margin: 1em;
}

@media only screen and (max-width: 1200px) {
  
    div img {
      
        width: 30%;
        display: flex;
        flex-direction: row;
        margin-left: 6em;
    }
}
  

@media only screen and (max-width: 800px) {
  

    div img {
      
       
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 2em;
        margin: 2em;
    
    
    }

    

}

@media only screen and (max-width: 320px) {

    ul  {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        line-height: 0em;  
        
            
    }

   li {
        margin: 0;
        padding: 0;
        
        
    }
    
    
    h1 {
        margin-top: 0;
    }

   
}
  

  





