nav {
        

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    li {
        float: left;
    }
    li a {
        display: block;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        color: plum;
    }
}