body {
    margin: 0;
}

nav {
    width: 100vw;
    background-color: blue; 
    overflow: hidden;  

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    li {
        float: left;
    }

    li a {
        display: block;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        color: plum;
    }
}

.flex-container {
    display: flex;
    justify-content: center;
    height: 3em;
    padding-top: 1em;
}

.search {
    width: 50%;
}






