//mixins

@mixin bodyFont {
    font-family: 'Baloo Tamma 2', cursive;
    font-weight: 4rem;
}

@mixin grey {
    background-color: #5F6366;
}

@mixin navyBlue {
    color: #4D6D9A;
}

@mixin purple {
    color: #86B3D1;
}

@mixin lightBlue {
   color: #99CED3; 
}

@mixin pink {
    color: #EDB5BF;
}


//Page Styling


body {
    margin: 0;
    @include bodyFont();
}

nav {
    @include grey();
    width: 100vw; 
    overflow: hidden;  

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    li {
        float: left;
    }

    li a {
        display: block;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        color: plum;
    }
}

.flex-container {
    display: flex;
    justify-content: center;
    height: 3em;
    padding-top: 1em;
}

  h1 {
    border: 3px solid red;
    text-align: center;
}

.search {
    width: 50%;
}

.img-container {
    display: flex;
    flex-wrap: wrap;
   
}





